# CMake build directory
/build/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
compile_commands.json

# C / C++
*.o
*.obj
*.exe
*.out
*.a
*.lib
*.dll
*.so
*.dylib

# OS
.DS_Store
Thumbs.db